## editors
.idea
*.vscode
*.iml
*.iws

## system files
.DS_Store

## npm
node_modules
/node_modules/
npm-debug.log
# for now we don't want lock files
/yarn.lock
/package-lock.json

## bower
bower_components
/bower_components*/
/bower-*.json

## for our builds
/lib/

## temp folders
/.tmp
wct.conf.js
